<mat-card class="pageCard">
    <mat-card-header>
        <mat-card-title class='pageTitle'>Visualizar em tabela: {{layer.name}}</mat-card-title>
    </mat-card-header>
    <div class="layerDataPosition">
        <mat-form-field class="layerDataSpacing" appearance="outline">
            <mat-label>Nome da Área</mat-label>
            <input class="layerDataInput" matInput value="{{layer.name}}" readonly>
        </mat-form-field>
        <mat-form-field class="layerDataSpacing" appearance="outline">
            <mat-label>N° de pontos</mat-label>
            <input class="layerDataInput" matInput value="{{layer.datasetLength}}" readonly>
        </mat-form-field>
        <mat-form-field class="layerDataSpacing" appearance="outline">
            <mat-label>Tipo de Layer</mat-label>
            <input class="layerDataInput" matInput value="{{layerType}}" readonly>
        </mat-form-field>
    </div>
    <div *ngIf="layerType === 'Zona de Manejo'" class="layerDataPosition">
        <app-zm-layer-info [layer] = "this.layer"></app-zm-layer-info>
        <app-mz-table [layer] = "this.layer"></app-mz-table>
    </div>
    <div *ngIf="layerType === 'Pontos Amostrais'" class="layerDataPosition">
        <app-sp-layer-info [layer] = "this.layer"></app-sp-layer-info>
        <app-sp-table [layer] = "this.layer"></app-sp-table>
    </div>
</mat-card>
<br>

