.mainContent{
    margin-top: 18px;
}
.title{
    margin-left: 1vw;
}
@media only screen and (max-width: 1920px) {
    .title {
        font-size: x-large;
    }
}
@media only screen and (max-width: 600px) {
    .title {
        font-size: large;
    }
}
.mat-horizontal-stepper{
    text-align: center;
}
.smallInputSet{
    width: 70%;
    margin-left: 17%;
    text-align: center;
}
@media only screen and (max-width: 1170px) {
    .smallInputSet {
        margin-left: 18.5%;
    }
}
.smallInputCard{
    background-color: whitesmoke;
    display: inline-block;
    width: 39.3%;
    text-align: center;
    margin-left: 0.4vw;
    margin-right: 0.4vw;
    margin-bottom: 14px;
}
@media only screen and (max-width: 1300px) {
    .smallInputCard {
        text-align: left;
    }
}
@media only screen and (max-width: 1170px) {
    .smallInputCard {
        width: 85%;
        display: flexbox;
        text-align: center;
    }
}
.secondaryMatCardLarge{
    width: 60%;
    background-color: whitesmoke;
    margin-left: 20%;
    margin-bottom: 2vh;
}
input{
    text-align: center;
}
mat-form-field{
    margin-left: 1.5vw;
    margin-right: 1.5vw;
}
.automaticButton{
    margin-right: 1.5vw;
    font-size: 120%;
    margin-bottom: 14px;
    display: inline-block;
}
.krigingForm{
    margin-top: 18px;
}
.secondaryCardContent{
    margin-top: 18px;
    text-align: center;
}
.mainButtonPosition{
    text-align: center;
}
.mat-progress-bar{
    margin-top: 7px;
}
