.sidenavContainer{
    margin-top: 8vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.sidenav{
    text-align: center;
    background-color: whitesmoke;
    width: 220px;
}
.pointInfoField{
    width: 90%;
}
.pointInfoDisplay{
    text-align: center;
}
.sidenavTitle{
    font-size: large;
}
.map{
    width: 100%;
    height: 92vh;
}
.expansionPanelTitle{
    margin-left: auto;
    margin-right: auto;
}
mat-panel-description{
    color: black;
}
.sidenavButton{
    width: 90%;
    margin-top: 10px;
}
table{
    width: 100%;
}
.saveAlterationsButtonsPosition{
    text-align: center;
}
.saveAlterationButtons{
    margin-top: 10px;
    width: 110%;
}
.legendColor{
    margin-left: 10px;
    max-width: 10px;
    max-height: 10px;
}
#legendColor0{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
}
#legendColor1{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
}
#legendColor2{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
}
#legendColor3{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
}
#legendColor4{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
}
#legendColor5{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
}
#legendColor6{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
}
#legendColor7{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
}
#legendColor8{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
}
#legendColor9{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
}
#legendColor10{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
}
