table{
    width: 64%;
    margin-bottom: 18px;
    margin-left: 20%;
}
@media only screen and (max-width: 400px) {
    table {
        margin-left: 16%;
        width: 70%;
    }
}
.tableCell{
    width: 16.7%;
    text-align: center;
    font-size: medium;
}
@media only screen and (max-width: 1000px) {
    .tableCell {
        font-size: small;
    }
}
.tableHeader{
    text-align: center;
    font-size: large;
}
@media only screen and (max-width: 1100px) {
    .tableHeader {
        font-size: medium;
    }
}
@media only screen and (max-width: 950px) {
    .tableHeader {
        font-size: small;
    }
}