.title{
    margin-left: auto;
    margin-right: auto;
    font-size: larger;
}
.dialog{
    text-align: center;
    max-height: 90vh;
}
.image{
    margin-top: 14px;
    text-align: center;
}
button{
    margin-bottom: 7px;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}
.buttonsPosition{
    text-align: center;
}