<div *ngIf="typedZmLayer.rectificationMethod !== ''">
    <mat-form-field class="layerDataSpacing" appearance="outline">
        <mat-label>Método de Retificação</mat-label>
        <input class="layerDataInput" matInput value={{typedZmLayer.rectificationMethod}} readonly>
    </mat-form-field>
    <mat-form-field class="layerDataSpacing" appearance="outline">
        <mat-label>Tamanho da Janela</mat-label>
        <input class="layerDataInput" matInput value={{typedZmLayer.kernelSize}} readonly>
    </mat-form-field>
    <mat-form-field class="layerDataSpacing" appearance="outline">
        <mat-label>Formato da Janela</mat-label>
        <input class="layerDataInput" matInput value={{typedZmLayer.kernelFormat}} readonly>
    </mat-form-field>
    <mat-form-field class="layerDataSpacing" appearance="outline">
        <mat-label>Iterações</mat-label>
        <input class="layerDataInput" matInput value={{typedZmLayer.iterations}} readonly>
    </mat-form-field>
</div>
