.mainMatCard{
    background-color: whitesmoke;
    margin-top: 12px;
}
@media only screen and (max-width: 1920px) {
    .mainMatCard{
        width: 65%;
        margin-left: 17.5%;
    }
}
@media only screen and (max-width: 800px) {
    .mainMatCard{
        width: 75%;
        margin-left: 12.5%;
    }
}
.mainTitle{
    font-size: x-large;
}
.parameterCard{
    background-color: white;
    text-align: center;
    width: 70%;
    margin-top: 20px;
    margin-left: 13%;
}
.parameterTitle{
    font-size: 150%;
}
.mat-radio-button{
    margin-top: 7px;
    font-size: 150%;
}
.kernelSizeButtonSpacing{
    margin-left: 2vw;
    margin-right: 2vw;
}
.rectificationMethodButtonSpacing{
    margin-left: 1.5vw;
    margin-right: 1.5vw;
}
.customIterationInput{
    text-align: center;
    width: 50px;
}
.customIterationInputHidden{
    visibility: hidden;
    width: 12%;
}
.mainButtonPosition{
    text-align: center;
}
.mainButton{
    font-size: 150%;
}
.mat-progress-bar{
    margin-top: 14px;
}