<mat-card class="mainMatCard">
    <mat-card-header>
        <mat-card-title class="mainTitle">Retificação: {{layer.name}}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <div></div>
        <mat-card class="parameterCard">
            <mat-card-header>
                <mat-card-title class="parameterTitle">Tamanho da janela:</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <mat-radio-group [(ngModel)] = "selectedKernelSize">
                    <mat-radio-button class="kernelSizeButtonSpacing" *ngFor="let kernelSize of kernelSizes" [value] = 'kernelSize'>
                        {{kernelSize}}
                    </mat-radio-button>
                </mat-radio-group>
            </mat-card-content>
        </mat-card>

        <mat-card class="parameterCard">
            <mat-card-header>
                <mat-card-title class="parameterTitle">Formato da janela:</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <mat-radio-group [(ngModel)] = "selectedKernelFormat">
                    <mat-radio-button class="kernelSizeButtonSpacing" *ngFor="let kernelFormat of kernelFormats" [value] = 'kernelFormat'>
                        {{kernelFormat}}
                    </mat-radio-button>
                </mat-radio-group>
            </mat-card-content>
        </mat-card>

        <mat-card class="parameterCard">
            <mat-card-header>
                <mat-card-title class="parameterTitle">Filtros de Retificação:</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <mat-radio-group [(ngModel)] = "selectedRectificationMethod">
                    <mat-radio-button class="rectificationMethodButtonSpacing" *ngFor="let rectificationMethod of rectificationMethods"
                     [value] = 'rectificationMethod'>
                        {{rectificationMethod}}
                    </mat-radio-button>
                </mat-radio-group>
            </mat-card-content>
        </mat-card>

        <mat-card class="parameterCard">
            <mat-card-header>
                <mat-card-title class="parameterTitle">Número de Iterações:</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <mat-radio-group [(ngModel)] = "selectedIteration">
                    <mat-radio-button class="rectificationMethodButtonSpacing" *ngFor="let iteration of iterations" [value] = 'iteration'>
                        {{iteration}}
                    </mat-radio-button>
                    <mat-radio-button value="7">Outro:</mat-radio-button>
                    <mat-form-field class="customIterationInput" appearance = "standard">
                        <input matInput [class.customIterationInputHidden]="selectedIteration < 7" [(ngModel)] = "customIteration"
                            (change) = "validateIterationNumber()" [disabled] = "selectedIteration < 7" type="number">
                    </mat-form-field>
                </mat-radio-group>
            </mat-card-content>
        </mat-card>
    </mat-card-content>

    <div class="mainButtonPosition">
        <button (click) = "executeRectification()" class="mainButton" mat-raised-button color = "primary">
            <span class="material-icons">
                miscellaneous_services
            </span>
            Executar Retificação
        </button>
    </div>
    <mat-progress-bar [ngStyle]="{display: loadBarState}" mode = "indeterminate"></mat-progress-bar>
</mat-card>
<br>
