.mainMatCard{
    background-color: whitesmoke;
    width: 65%;
    margin-top: 12px;
    margin-left: 17.5%;
}
.mainTitle{
    font-size: x-large;
}
.parameterCard{
    background-color: white;
    text-align: center;
    width: 70%;
    margin-top: 20px;
    margin-left: 13%;
}
.parameterTitle{
    font-size: 150%;
}
.mat-radio-button{
    margin-top: 7px;
    font-size: 150%;
    margin-left: 2vw;
    margin-right: 2vw;
}
.mat-card-actions{
    text-align: center;
}
.mainButton{
    font-size: 150%;
}
.mat-progress-bar{
    margin-top: 7px;
}