<mat-sidenav-container>
    <mat-sidenav mode="side" class="actionSidenav" [class.mat-elevation-z5]="true" opened>
        <div matRipple [matMenuTriggerFor]="layerTypeMenu" matTooltip="Adicionar layer através de arquivo .txt ou .csv"
        class="iconContainer">
            <span class="material-icons">
                add_circle_outline
            </span>
        </div>
        <mat-divider></mat-divider>
        <div matRipple matTooltip="Comparar de 2 a 5 layers em mapa" class="iconContainer">
            <span class="material-icons">
                layers
            </span>
            <mat-divider></mat-divider>
        </div>
        <div matRipple matTooltip="Autotoria e licença" class="iconContainer">
            <span class="material-icons">
                info
            </span>
            <mat-divider></mat-divider>
        </div>

        <mat-menu #layerTypeMenu="matMenu">
            <button (click) = "fileInputSP.click()" mat-menu-item>
                <span>Adicionar layer de Pontos Amostrais</span>
            </button>
        
            <input #fileInputSP style="display: none;" type="file" (change) = "recieveLayerFile($event, 0)" accept=".txt,.csv">
            
            <button (click) = "fileInputZM.click()" mat-menu-item>
                <span>Adicionar layer de Zona de Manejo</span>
            </button>
        
            <input #fileInputZM style="display: none;" type="file" (change) = "recieveLayerFile($event, 1)" accept=".txt,.csv">
        
        </mat-menu>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-sidenav-container>
            <mat-sidenav #cardSidenav [class.mat-elevation-z3]="true" mode="side" class="cardSidenav" closed>
                <mat-toolbar class="cardSidenavTitleContainer">
                    <span class="cardSidenavTitle">
                        {{selectedLayerName}}
                    </span>
                </mat-toolbar>
                <br>
                <button class="cardOptionsButton" [matMenuTriggerFor] = "layerExhibitMenu" mat-button>
                    <span style="font-size: 25px;" class="material-icons">
                        search
                    </span>
                    Visualizar
                </button>
                <button *ngIf="selectedLayerType === 0" (click) = "fileInputContourn.click()" matTooltip="Adicionar um contorno para a layer"
                 class="cardOptionsButton" mat-button>
                    <span style="font-size: 25px;" class="material-icons">
                        add
                    </span>
                    Ad. Contorno
                </button>
                <input #fileInputContourn style="display: none;" type="file" (change) = "recieveContournFile($event)" accept=".txt,.csv">
                <div matTooltip="É necessário de um contorno para realizar a interpolação" [matTooltipDisabled]="hasContourn">
                    <button *ngIf="selectedLayerType === 0" [disabled] = "!hasContourn" class="cardOptionsButton" mat-button>
                        <span style="font-size: 25px;" class="material-icons">
                            miscellaneous_services
                        </span>
                        Interpolar
                    </button>
                </div>
                <button *ngIf="selectedLayerType === 1" class="cardOptionsButton" mat-button>
                    <span style="font-size: 25px;" class="material-icons">
                        miscellaneous_services
                    </span>
                    Retificar
                </button>
                <button *ngIf="selectedLayerType === 0" matTooltip="Classifica a área em zonas de manejo" class="cardOptionsButton"
                 mat-button>
                    <span style="font-size: 25px;" class="material-icons">
                        format_shapes
                    </span>
                    Classificar ZM
                </button>
                <button [matMenuTriggerFor] = "DataTypeMenu" class="cardOptionsButton" mat-button>
                    <span style="font-size: 25px;" class="material-icons">
                        get_app
                    </span>
                    Download
                </button>
                <button (click) = "deleteLayer(cardSidenav)" class="cardOptionsButton" mat-button>
                    <span style="font-size: 25px;" class="material-icons">
                        delete
                    </span>
                    Excluir
                </button>

                <mat-divider class="cardSidenavDivider"></mat-divider>
                <!--<span class="cardDataTile">Dados</span>
                <br>
                <br>
                <span style="font-size: large; text-align: left;" matBadge="4" matBadgeOverlap="false">Pontos</span>-->

                <mat-menu #layerExhibitMenu = "matMenu">
                    <button mat-menu-item>
                        <mat-icon style="font-size: 25px;" class="material-icons">
                            map
                        </mat-icon>
                        Visualizar em Mapa
                    </button>
                    <button mat-menu-item>
                        <mat-icon style="font-size: 25px;" class="material-icons">
                            table_chart
                        </mat-icon>
                        Visualizar em Tabela
                    </button>
                </mat-menu>

                <mat-menu #DataTypeMenu = "matMenu">
                    <button [matMenuTriggerFor] = "FileTypeMenuLayer" mat-menu-item>
                        <mat-icon style="font-size: 25px;" class="material-icons">
                            view_comfy
                        </mat-icon>
                        <span *ngIf="selectedLayerType === 0">
                            Pontos amostrais
                        </span>
                        <span *ngIf="selectedLayerType === 1">
                            Zonas de Manejo
                        </span>
                    </button>
                    <div matTooltip="Nenhum contorno foi importado para esta layer" [matTooltipDisabled]="hasContourn">
                        <button [matMenuTriggerFor] = "FileTypeMenuContourn" [disabled] = "!hasContourn" *ngIf="selectedLayerType === 0"
                         mat-menu-item>
                            <mat-icon style="font-size: 25px;" class="material-icons">
                                select_all
                            </mat-icon>
                            Contorno
                        </button>
                    </div>
                </mat-menu>

                <mat-menu #FileTypeMenuLayer = "matMenu">
                    <button (click) = "exportLayer('.txt')" mat-menu-item>
                        <mat-icon style="font-size: 25px;" class="material-icons">
                            text_snippet
                        </mat-icon>
                        .txt
                    </button>
                    <button (click) = "exportLayer('.csv')" mat-menu-item>
                        <mat-icon style="font-size: 25px;" class="material-icons">
                            table_view
                        </mat-icon>
                        .csv
                    </button>
                </mat-menu>

                <mat-menu #FileTypeMenuContourn = "matMenu">
                    <button (click) = "exportContourn('.txt')" mat-menu-item>
                        <mat-icon style="font-size: 25px;" class="material-icons">
                            text_snippet
                        </mat-icon>
                        .txt
                    </button>
                    <button (click) = "exportContourn('.csv')" mat-menu-item>
                        <mat-icon style="font-size: 25px;" class="material-icons">
                            table_view
                        </mat-icon>
                        .csv
                    </button>
                </mat-menu>
            </mat-sidenav>

            <mat-sidenav-content>
                <div *ngFor="let displayedLayer of displayedLayers; let i = index">
                    <app-layer-card (click) = "selectLayer(i, cardSidenav)" [layer] = "this.displayedLayers[i]"
                      layerId =  {{i}}></app-layer-card>
                </div>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </mat-sidenav-content>
</mat-sidenav-container>
