<mat-sidenav-container>
    <mat-sidenav mode="side" class="actionSidenav" [class.mat-elevation-z5]="true" opened>
        <div matRipple [matMenuTriggerFor]="layerTypeMenu" matTooltip="Adicionar layer através de arquivo .txt ou .csv"
        class="iconContainer">
            <span class="material-icons">
                add_circle_outline
            </span>
        </div>
        <mat-divider></mat-divider>
        <div matRipple matTooltip="Comparar de 2 a 5 layers em mapa" class="iconContainer">
            <span class="material-icons">
                layers
            </span>
            <mat-divider></mat-divider>
        </div>
        <div matRipple matTooltip="Autotoria e licença" class="iconContainer">
            <span class="material-icons">
                info
            </span>
            <mat-divider></mat-divider>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-sidenav-container>
            <mat-sidenav #cardSidenav [class.mat-elevation-z3]="true" mode="side" class="cardSidenav" closed>
                <mat-toolbar class="cardSidenavTitleContainer">
                    <span class="cardSidenavTitle">
                        {{selectedLayerName}}
                    </span>
                </mat-toolbar>
                <br>
                <button class="cardOptionsButton" [matMenuTriggerFor] = "layerExhibitMenu" mat-button>
                    <span style="font-size: 25px;" class="material-icons">
                        search
                    </span>
                    Visualizar
                </button>
                <button *ngIf="selectedLayerType === 0" class="cardOptionsButton" mat-button>
                    <span style="font-size: 25px;" class="material-icons">
                        miscellaneous_services
                    </span>
                    Adicionar Contorno
                </button>
                <button *ngIf="selectedLayerType === 0" class="cardOptionsButton" mat-button>
                    <span style="font-size: 25px;" class="material-icons">
                        miscellaneous_services
                    </span>
                    Interpolação
                </button>
                <button *ngIf="selectedLayerType === 1" class="cardOptionsButton" mat-button>
                    <span style="font-size: 25px;" class="material-icons">
                        miscellaneous_services
                    </span>
                    Retificação
                </button>
                <button class="cardOptionsButton" mat-button>
                    <span style="font-size: 25px;" class="material-icons">
                        get_app
                    </span>
                    Download
                </button>
                <button class="cardOptionsButton" mat-button>
                    <span style="font-size: 25px;" class="material-icons">
                        delete
                    </span>
                    Excluir
                </button>

                <mat-menu #layerExhibitMenu = "matMenu">
                    <button mat-menu-item>
                        <mat-icon style="font-size: 25px;" class="material-icons">
                            map
                        </mat-icon>
                        Visualizar em Mapa
                    </button>
                    <button mat-menu-item>
                        <mat-icon style="font-size: 25px;" class="material-icons">
                            table_rows
                        </mat-icon>
                        Visualizar em Tabela
                    </button>
                </mat-menu>
            </mat-sidenav>

            <mat-sidenav-content>
                <div *ngFor="let displayedLayer of displayedLayers; let i = index">
                    <app-layer-card (click) = "selectLayer(i, cardSidenav)" [layer] = "this.displayedLayers[i]"
                      layerId =  {{i}}></app-layer-card>
                </div>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </mat-sidenav-content>
</mat-sidenav-container>

<mat-menu #layerTypeMenu="matMenu">
    <button (click) = "fileInputSP.click()" mat-menu-item>
        <span>Adicionar layer de Pontos Amostrais</span>
    </button>

    <input #fileInputSP id="fileInput" type="file" (change) = "recieveLayerFile($event, 0)" accept=".txt,.csv" style="display: none;">
    
    <button (click) = "fileInputZM.click()" mat-menu-item>
        <span>Adicionar layer de Zona de Manejo</span>
    </button>

    <input #fileInputZM id="fileInput" type="file" (change) = "recieveLayerFile($event, 1)" accept=".txt,.csv" style="display: none;">

</mat-menu>
