.mat-sidenav-content{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 91vh;
    background-color: white;
}
.actionSidenav{
    text-align: center;
    width: 60px;
    z-index: 5;
    background-color: rgb(230, 230, 230);
}
.material-icons{
    font-size: 50px;
}
.iconContainer {
    width: 100%;
    color: #0fb100d3;
    user-select: none;
}
.iconContainer:hover{
    cursor: pointer;
    color: #16e903;
}
.cardSidenav{
    text-align: center;
    z-index: 3;
    width: 160px;
    background-color: white;
}
.cardSidenavTitleContainer{
    height: 1%;
    margin-bottom: 0;
}
.cardSidenavTitle{
    font-size: large;
    color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    text-decoration: underline;
}
.cardOptionsButton{
    font-size: medium;
    width: 100%;
    text-align: left;
    height: 35px;
    margin-bottom: 1%;
}
.cardOptionsButton::before{
    content: '';
    position: absolute;
    width: 2px;
    background-color: #0fb100d3;
    height: 100%;
    top: 0;
    opacity: 0;
    left: 0;
    transform: scaleY(0);
    transition: all 0.3s;
}
.cardOptionsButton:hover::before{
    opacity: 1;
    transform: scaleY(1);
}
.cardOptionsButton::after{
    content: '';
    position: absolute;
    width: 2px;
    background-color: #0fb100d3;
    height: 100%;
    top: 0;
    opacity: 0;
    right: 0;
    transform: scaleY(0);
    transition: all 0.4s;
}
.cardOptionsButton:hover::after{
    opacity: 1;
    transform: scaleY(1);
}
