<mat-tab-group class="tablesTab" backgroundColor="primary" mat-align-tabs = "center">
    <mat-tab label="Pontos Amostrais">
      <div class="tabContent">
        <!--<div class="mat-slide-localization">
          <mat-slide-toggle>Editar Dados</mat-slide-toggle>
        </div>-->
        <table mat-table [dataSource] = "tableDataSource" class="mat-elevation-z8">
            <ng-container matColumnDef = Identificador>
                <th mat-header-cell style="text-align: center;" class="tableHeader" *matHeaderCellDef>Identificador</th>
                <td mat-cell class = "tableCell" *matCellDef = "let element; let i = index"> 
                    {{i}}
                </td>
            </ng-container>
            
            <ng-container matColumnDef = {{layer.latitudeHeader}}>
                <th mat-header-cell style="text-align: center;" class="tableHeader" *matHeaderCellDef>{{layer.latitudeHeader}}</th>
                <td mat-cell class = "tableCell" *matCellDef = "let element"> 
                    {{element.coordinates[0]}}
                </td>
            </ng-container>

            <ng-container matColumnDef = {{layer.longitudeHeader}}>
                <th mat-header-cell style="text-align: center;" class="tableHeader" *matHeaderCellDef>{{layer.longitudeHeader}}</th>
                <td mat-cell class = "tableCell" *matCellDef = "let element">
                    {{element.coordinates[1]}}
                </td>
            </ng-container>

            <ng-container matColumnDef = {{layer.dataHeader}}>
                <th mat-header-cell style="text-align: center;" class="tableHeader" *matHeaderCellDef>{{layer.dataHeader}}</th>
                <td mat-cell class = "tableCell" *matCellDef = "let element; let i = index">  
                  {{element.data}}
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef = "displayedColumns"></tr>
            <tr mat-row *matRowDef = "let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </mat-tab>
    <mat-tab [disabled] = "true" label="Contorno">
      <div class="mat-slide-localization">
        <mat-slide-toggle>Editar Dados</mat-slide-toggle>
      </div>
    </mat-tab>
  </mat-tab-group>
